error_reporting(0);
session_start();

date_default_timezone_set("Asia/Ho_Chi_Minh");
                    $xxx = date("H:i");

$vienden="\033[100m"; 
$viendo="\033[101m"; 
$vienluc="\033[102m"; 
$vienvang="\033[103m"; 
$vienxduong="\033[104m"; 
$vienhong="\033[105m"; 
$vienxnhac="\033[106m"; 
$vientrang="\033[107m";
$maufulltrang= "\e1;47;33m"; 
$maufullxduong= "\e[1;47;34m"; 
$maufulldo= "\e[1;47;31m"; 
$maufullluc= "\e[1;47;32m"; 
$maufullxnhac= "\e[1;47;36m"; 
$maufullden= "\e[1;47;30m"; 
$maufullvang= "\e[1;47;33m"; 
$maufullhong= "\e[1;47;33m"; 
$denthui="\033[0;30m"; 
$res="\033[0m"; 
$do="\033[0;31m"; 
$grean="\033[1;32m"; 
$mit="\033[0;32m"; 
$vang="\033[0;33m"; 
$mti="\033[0;33m"; 
$test="\033[1;33m"; 
$tim="\033[1;36m"; 
$lam="\033[1;34m"; 
$tmi="\033[1;34m"; 
$hong="\033[1;35m"; 
$imt="\033[1;35m"; 
$blue="\033[1;36m"; 
$trang="\033[1;37m"; 
$ress="\033[0;32m"; 
$res="\033[0;33m"; 
$green="\033[0;37m"; 
$yellow="\033[0;33m"; 
$white= "\033[0;33m"; 
$xnhac= "\033[1;96m"; 
$den="\033[1;90m"; 
$do="\033[1;91m"; 
$luc="\033[1;92m"; 
$vang="\033[1;93m"; 
$xduong="\033[1;94m"; 
$hong="\033[1;95m"; 
$trang="\033[1;97m"; 
$banner="\r\n"; 
$ngay=date("d/m"); 
$day=date("d/m"); 
$BBlack="\033[1;30m"; 
$BRed="\033[1;31m"; 
$BGreen="\033[1;32m"; 
$BYellow="\033[1;33m"; 
$BBlue="\033[1;34m"; 
$BPurple="\033[1;35m";
$BPurpleb="\033[1;50m";  
$BCyan="\033[1;36m"; 
$BWhite="\033[1;37m"; 
$Blue="\033[0;34m"; 
$res="\033[0m"; 
$red="\033[1;31m"; 
$xanh="\033[1;32m"; 
$cyan="\033[1;36m"; 
$yellow="\033[1;33m"; 
$turquoise="\033[1;34m";
 $maugi="\033[1;35m"; 
 $white= "\033[1;37m";
$blueb="\033[1;34m";
$purple="\033[0;35m";
$purpleb="\033[1;35m";
$lightblue="\033[0;36m";
$lightblue="\033[1;35m";
$lightblueb="\033[1;36m";
 $ngay = date("d"); 
$thang = date("m"); 
$nam = date("Y");
$a=date('d');
        $b=date("m");
        $thoigian=date('d/m');
$day = [];
$day= date('d-m-y');
$today = date("d-m-y");
$d = date("d-m");
date_default_timezone_set("Asia/Ho_Chi_Minh");
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █".$white." █ █ █ █ █ █ █ █ █ ".$green."║  10% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █".$white." █ █ █ █ █ █ █ █ ".$green."║  20% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █".$white." █ █ █ █ █ █ █ ".$green."║  30% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █ █".$white." █ █ █ █ █ █ ".$green."║  40% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █ █ █".$white." █ █ █ █ █ ".$green."║  50% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █ █ █ █".$white." █ █ █ █ ".$green."║  60% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █ █ █ █ █".$white." █ █ █ ".$green."║  70% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █ █ █ █ █ █".$white." █ █ ".$green."║  80% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █ █ █ █ █ █ █".$white." █ ".$green."║  90% Vui Lòng Chờ
╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."Đang Kiểm Tra Sever".$green."
╔═════════════════════╗
║".$blue." █ █ █ █ █ █ █ █ █ █".$green." ║  100% Vui Lòng Chờ
".$green."╚═════════════════════╝";
usleep(150000);
@system('clear');
echo $green."_____Đã Vào Sever_____
╔═════════════════════╗
║".$blue." █ █ █ █ █ █ █ █ █ █$end ".$green."║
".$green."╚═════════════════════╝\n\n";
usleep(1000000);
echo "\n";
$ngay = date("d");
$thang = date("m");
$nam = date("Y");
$time = date('H:i:s');
$yellow="\033[1;33m";
$turquoise="\033[1;34m";
$maugi="\033[1;35m";
$white= "\033[1;37m";
$BCyan="\033[1;36m";
$trang="\033[1;37m";
$do="\033[1;31m";
$luc="\033[1;32m";
$vang="\033[1;33m";
$luc="\033[1;92m";
$datdz = $do."[".$luc."●".$do."] ".$trang."=> ";
date_default_timezone_set("Asia/Ho_Chi_Minh");
usleep(15); 
echo $vang." 
";echo $do."
";echo $hong."
 ";echo $tim." 
                                       
        \n";                                     
echo $red."";
echo "\n";
echo $red."";
echo  "\n";
echo"\033[1;37m\033[1;41m \033[1;32m🌺\033[;33mTOOL GỘP BY Dương Nguyễn\033[1;32m🌺 \033[0m
$vang •╔══════════════════════════════☩══♛══☩══════════════════════════════╗•
$blue        ☞ Zalo: 0385749772
$hong        ☞ Hạn Sử Dụng: Mãi Mãi
$luc        ☞ Facebook: https://www.facebook.com/profile.php?id=100052920739486
$cyan        ☞ Cre: Nguyễn Dương
$vang •╚══════════════════════════════☩══✦══☩══════════════════════════════╝•\n";
echo "\n";
echo "$res".$red."[".$green."🌸".$red."]".$res." =>".$luc." Hôm Nay Là $vang$ngay Tháng $luc$thang Năm $hong$nam\n";
echo $do."[".$luc."🌸".$do."] ".$trang."=> ".$luc."Tool Được Khởi Động Vào Lúc: ".$vang.$time."\n";
echo $vang."
 

                  $vang ╔════════════════╗
                  $xanh ║ $blue Trao Đổi Sub$vang  ║
                  $red ╚════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 1 \033[0m\033[1;31m]\033[1;32mTool Trao Đổi Sub Đơn Cookie          \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 2 \033[0m\033[1;31m]\033[1;32mTool Trao Đổi Sub Đơn Token           \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 3 \033[0m\033[1;31m]\033[1;32mTool Trao Đổi Sub Đa Cookie           \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 4 \033[0m\033[1;31m]\033[1;32mTool Trao Đổi Sub Đa Token            \033[1;37m┃\n"; 
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n";
    echo "\n";
    echo "        
                  $vang ╔════════════════╗
                  $do ║$red Tương Tác Chéo\033[1;33m ║
                  $lightblueb ╚════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 5 \033[0m\033[1;31m] \033[1;32mTool Tương Tác Chéo Đơn Cookie       \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 6 \033[0m\033[1;31m] \033[1;32mTool Tương Tác Chéo Đơn Token        \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 7 \033[0m\033[1;31m] \033[1;32mTool Tương Tác Chéo Đa Cookie        \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 8 \033[0m\033[1;31m] \033[1;32mTool Tương Tác Chéo Đa Token         \033[1;37m┃\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n"; 
    echo "\n";
    echo "        
                  $res ╔════════════════╗
                  $vang ║$blue  Tool Facebook\033[1;33m ║
                  $do ╚════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 9 \033[0m\033[1;31m]\033[1;32mTool Qlizz                            \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 10 \033[0m\033[1;31m]\033[1;32mTool Auto Tương Tác                  \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 11 \033[0m\033[1;31m]\033[1;32mTool Nuôi FaceBook                   \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 12 \033[0m\033[1;31m]\033[1;32mTool Nuôi FaceBook Đa Luồng          \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 13 \033[0m\033[1;31m]\033[1;32mTool Spam Cmt                        \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 14 \033[0m\033[1;31m]\033[1;32mTool Spam Share                      \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 15 \033[0m\033[1;31m]\033[1;32mTool Hủy Follow                      \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 16 \033[0m\033[1;31m]\033[1;32mTool Hủy Follow Page                 \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 17 \033[0m\033[1;31m]\033[1;32mTool Thêm Bạn Bè                     \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 18 \033[0m\033[1;31m]\033[1;32mTool Check Info Fb                   \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 19 \033[0m\033[1;31m]\033[1;32mTool Get Token                       \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 20 \033[0m\033[1;31m]\033[1;32mTool Lọc Mail                        \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 21 \033[0m\033[1;31m]\033[1;32mTool Get Mã 2Fa                      \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 22 \033[0m\033[1;31m]\033[1;32mTool Spam ID                         \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 23 \033[0m\033[1;31m]\033[1;32mTool Reg Facebook                    \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 24 \033[0m\033[1;31m]\033[1;32mTool join Facebook                   \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 25 \033[0m\033[1;31m]\033[1;32mTool Bật Locked                      \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 26 \033[0m\033[1;31m]\033[1;32mTool Lọc B.Bè Không Tương Tác        \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 27 \033[0m\033[1;31m]\033[1;32mTool Check Live Bằng Token           \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 28 \033[0m\033[1;31m]\033[1;32mTool Check Live Bằng Cookie          \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 29 \033[0m\033[1;31m]\033[1;32mTool Đổi Cookie Sang Token           \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 30 \033[0m\033[1;31m]\033[1;32mTool Lấy Cookie Facebook             \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 31 \033[0m\033[1;31m]\033[1;32mTool Chọc Bạn Bè Facebook            \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 32 \033[0m\033[1;31m]\033[1;32mTool Chấp Chấp Nhận Kết Bạn          \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 33 \033[0m\033[1;31m]\033[1;32mTool Auto Tương Tác Facebook         \033[1;37m┃\n";  
  
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n"; 
    echo "\n"; 
     echo "        
                  $Blue ╔════════════════╗
                  $maugi ║$red  Tool Wed Khác\033[1;33m ║
                  $lightblue ╚════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 34 \033[0m\033[1;31m]\033[1;32mTool Trao Đổi Chéo Đa Cookie         \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 35 \033[0m\033[1;31m]\033[1;32mTool Trao Đổi Chéo Đa Token          \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 36 \033[0m\033[1;31m]\033[1;32mTool Vipig Đơn                       \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 37 \033[0m\033[1;31m]\033[1;32mTool Vipig Đa Luồng                  \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 38 \033[0m\033[1;31m]\033[1;32mTool Buff Like Tây                   \033[1;37m┃\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 39 \033[0m\033[1;31m]\033[1;32mTool Like Free Cookie                \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 40 \033[0m\033[1;31m]\033[1;32mTool Like Free Token                 \033[1;37m┃\n";  
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n"; 
    echo "\n"; 
    echo "        
                  $vang ╔═══════════════════╗
                  $do ║$blue Tool Tăng Youtube\033[1;33m ║
                  $xanh ╚═══════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 41 \033[0m\033[1;31m]\033[1;32mTool Fastsub4                        \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 42 \033[0m\033[1;31m]\033[1;32mTool Tubview                         \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 43 \033[0m\033[1;31m]\033[1;32mTool HoaTube                         \033[1;37m┃\n"; 
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n"; 
    echo "\n";
   echo "        
                  $hong ╔════════════════╗
                  $do ║$red Tool Kiếm Tiền\033[1;33m ║
                  $tim ╚════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 44 \033[0m\033[1;31m]\033[1;32mTool Like2Like                       \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 45 \033[0m\033[1;31m]\033[1;32mTool Micha Bitcon                    \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 46 \033[0m\033[1;31m]\033[1;32mTool Auto Acotien                    \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 47 \033[0m\033[1;31m]\033[1;32mTool Auto Rankmedia                  \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 48 \033[0m\033[1;31m]\033[1;32mTool Auto Asdvideo.online            \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 49 \033[0m\033[1;31m]\033[1;32mTool Auto Asdvideo.com               \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 50 \033[0m\033[1;31m]\033[1;32mTool Auto Gom Lúa                    \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 51 \033[0m\033[1;31m]\033[1;32mTool Auto Gom Lúa Đa Luồng           \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 52 \033[0m\033[1;31m]\033[1;32mTool Auto Team-Like                  \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 53 \033[0m\033[1;31m]\033[1;32mTool Auto Monkey Rewards             \033[1;37m┃\n"; 
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n";
    echo "\n"; 
     echo "        
                  $do ╔════════════════╗
                  $xduong ║$blue  Tool Rút Gọn\033[1;33m  ║
                  $xnhac ╚════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 54 \033[0m\033[1;31m]\033[1;32mTool Rút Gọn Link1s                  \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 55 \033[0m\033[1;31m]\033[1;32mTool Rút Gọn shon.xyz                \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 56 \033[0m\033[1;31m]\033[1;32mTool Rút Gọn ouo.io                  \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 57 \033[0m\033[1;31m]\033[1;32mTool Rút Gọn cpmlink.net             \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 58 \033[0m\033[1;31m]\033[1;32mTool Rút Gọn megaurl.in              \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 59 \033[0m\033[1;31m]\033[1;32mTool Rút Gọn bom.to                  \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 60 \033[0m\033[1;31m]\033[1;32mTool Rút Gọn shrtfly.com             \033[1;37m┃\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n";
    echo "\n";  
    echo "        
                  $vang ╔════════════════╗
                  $hong ║$red   Tool Khác\033[1;33m    ║
                  $do ╚════════════════╝\n";
                  echo "\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 61 \033[0m\033[1;31m]\033[1;32mTUT Facebook Vip                     \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 62 \033[0m\033[1;31m]\033[1;32mTool Auto Đào Key HMA                \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 63 \033[0m\033[1;31m]\033[1;32mTool Report Mạo Danh 40%             \033[1;37m┃\n"; 
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n";
    echo "\n";  
    echo "        
                  $vang ╔════════════════╗
                  $lam ║$blue   Chế Độ Khác\033[1;33m  ║
                  $do ╚════════════════╝\n";
                  echo "\n"; 
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n";
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 64 \033[0m\033[1;31m]\033[1;32mFacebook Admin                       \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 65 \033[0m\033[1;31m]\033[1;32mZalo Admin                           \033[1;37m┃\n"; 
    echo "\033[1;37m┃ ~\033[1;31m[\e[1;37;108m 66 \033[0m\033[1;31m]\033[1;32mExit Tool                            \033[1;37m┃\n";
    echo "\033[1;37m\033[1;97m┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛\n";
    echo "\n"; 
       echo "\e[1;34m┌─[\e[1;37m\e[1;42mVui Lòng Chọn Chế Độ ! \e[0m\e[1;34m]
└──╼ \e[1;35m❯\e[1;36m❯\e[1;31m❯ $yellowb ";
$nhaptool2 = trim(fgets(STDIN));
if ($nhaptool2 == '1'){ 
    if(!$sock = @fsockopen('www.google.com', 80)) { 
        echo 'Vui lòng bật kết nối mạng'; exit(); } 
        eval(file_get_contents('https://run.mocky.io/v3/50a59efa-92e6-455f-bf94-ab5e91244221')); }
else if ($nhaptool2 == '2'){ eval(file_get_contents('https://run.mocky.io/v3/664cea65-1035-4d83-bebb-cd02ffe21d05')); }
else if ($nhaptool2 == '3'){ eval(file_get_contents('http://montricker.tk/keytool/tdsdlck')); }
else if ($nhaptool2 == '4'){ eval(file_get_contents('https://run.mocky.io/v3/b8548707-335d-4830-9642-7e4b73151eab')); }
else if ($nhaptool2 == '5'){ eval(file_get_contents('https://run.mocky.io/v3/4e670e19-1e86-454d-806b-a882bd946ffd')); }
else if ($nhaptool2 == '6'){ eval(file_get_contents('https://run.mocky.io/v3/55a076d1-943e-474c-8dba-421052f15ab8')); }
else if ($nhaptool2 == '7'){ eval(file_get_contents('https://run.mocky.io/v3/b717244c-9b8b-411f-b32c-2ca4a4c0ea96')); }
else if ($nhaptool2 == '8'){ eval(file_get_contents('https://run.mocky.io/v3/54987787-d8b2-4575-b298-7ba07901bf4c')); }
else if ($nhaptool2 == '9'){ eval(file_get_contents('https://run.mocky.io/v3/4372d1d8-b060-4fbe-8eed-7f9526bbc62b')); }
else if ($nhaptool2 == '10'){ eval(file_get_contents('https://run.mocky.io/v3/aa764c14-af8a-4a55-8c67-b4fa45142d53')); }
else if ($nhaptool2 == '11'){ eval(file_get_contents('https://montricker.tk/Tut/nuoifb')); }
else if ($nhaptool2 == '12'){ eval(file_get_contents('https://run.mocky.io/v3/03cf38a9-991a-4e4f-83e1-2581bd9fd1bf')); }
else if ($nhaptool2 == '13'){ eval(file_get_contents('https://run.mocky.io/v3/690565c7-5131-480c-90d4-f37914ac822d')); }
else if ($nhaptool2 == '14'){ eval(file_get_contents('https://run.mocky.io/v3/fe02b84d-1343-48ff-ba01-9bdcd4b141b1')); }
else if ($nhaptool2 == '15'){ eval(file_get_contents('https://run.mocky.io/v3/4c8e0e0b-b7ec-4535-be9d-f3048549cc08')); }
else if ($nhaptool2 == '16'){ eval(file_get_contents('https://run.mocky.io/v3/4f062895-0ff1-4d0c-bad6-24cd330944b4')); }
else if ($nhaptool2 == '17'){ eval(file_get_contents('https://run.mocky.io/v3/46dab947-5fa3-4486-b518-0327486d6ae9')); }
else if ($nhaptool2 == '18'){ eval(file_get_contents('https://run.mocky.io/v3/654e8ffe-9930-4cfd-be9e-7c7c51d82c65')); }
else if ($nhaptool2 == '19'){ eval(file_get_contents('https://run.mocky.io/v3/139514de-bb83-48e1-b25f-26d79c5e3245')); }
else if ($nhaptool2 == '20'){ eval(file_get_contents('https://run.mocky.io/v3/87820377-3064-4427-aa0a-d5aa86e0d04c')); }
else if ($nhaptool2 == '21'){ eval(file_get_contents('https://run.mocky.io/v3/20e4da83-e99d-4ea6-ad79-39ebbc8691c5')); }
else if ($nhaptool2 == '22'){ eval(file_get_contents('https://run.mocky.io/v3/64fa5fa9-839a-4be5-aea3-26c96a603ce5')); }
else if ($nhaptool2 == '23'){ eval(file_get_contents('https://run.mocky.io/v3/59f3f08e-e7c4-436b-92fe-8ddfa04eb0e7')); }
else if ($nhaptool2 == '24'){ eval(file_get_contents('https://run.mocky.io/v3/f77e5acb-28a3-4e2b-a401-ba003f72b284')); }
else if ($nhaptool2 == '25'){ eval(file_get_contents('https://run.mocky.io/v3/96327645-e276-4723-985c-779d57ba65b8')); }
else if ($nhaptool2 == '26'){ eval(file_get_contents('https://run.mocky.io/v3/28522ad2-4d63-4ecf-821c-112d08690049')); }
else if ($nhaptool2 == '27'){ eval(file_get_contents('https://run.mocky.io/v3/1a6f70e8-c26a-47de-b821-053f2fd37ab6')); }
else if ($nhaptool2 == '28'){ eval(file_get_contents('https://run.mocky.io/v3/1a6f70e8-c26a-47de-b821-053f2fd37ab6')); }
else if ($nhaptool2 == '29'){ eval(file_get_contents('https://run.mocky.io/v3/fd877391-a81c-42a9-96ea-61e610d87765')); }
else if ($nhaptool2 == '30'){ eval(file_get_contents('https://run.mocky.io/v3/b691a56f-5486-4236-8164-46f070eefe73')); }
else if ($nhaptool2 == '31'){ eval(file_get_contents('https://run.mocky.io/v3/2ec8a85c-a8da-41d0-acdb-e93c5c4b03c1')); }
else if ($nhaptool2 == '32'){ eval(file_get_contents('https://run.mocky.io/v3/720e0c06-0de9-42c0-bb5e-10a0a3a4a9bc')); }
else if ($nhaptool2 == '33'){ eval(file_get_contents('https://run.mocky.io/v3/da34f157-3769-4f53-b618-4aa385205ce3')); }
else if ($nhaptool2 == '34'){ eval(file_get_contents('https://pastebin.com/raw/TDvw5dAp')); }
else if ($nhaptool2 == '35'){ eval(file_get_contents('https://pastebin.com/raw/tCxYjVNJ')); }
else if ($nhaptool2 == '36'){ eval(file_get_contents('https://run.mocky.io/v3/b5b47458-6590-453d-99a8-fad69a437aa4')); }
else if ($nhaptool2 == '37'){ eval(file_get_contents('https://run.mocky.io/v3/73b184aa-fa88-42b6-b4c0-07ae2c48dadd')); }
else if ($nhaptool2 == '38'){ eval(file_get_contents('https://run.mocky.io/v3/a12f88cf-a999-46e0-907e-1fb8f3e0edbf')); }
else if ($nhaptool2 == '39'){ eval(file_get_contents('https://run.mocky.io/v3/c6a8e828-c570-46ba-9dfe-354792f8939c')); }
else if ($nhaptool2 == '40'){ eval(file_get_contents('https://run.mocky.io/v3/c6a8e828-c570-46ba-9dfe-354792f8939c')); }
else if ($nhaptool2 == '41'){ eval(file_get_contents('https://run.mocky.io/v3/3ba4d8e1-ed2c-42f3-95be-d5ba2833c4b6')); }
else if ($nhaptool2 == '42'){ eval(file_get_contents('https://run.mocky.io/v3/38ef4db6-92da-45b6-b6d7-8857036ee151')); }
else if ($nhaptool2 == '43'){ eval(file_get_contents('https://run.mocky.io/v3/f72dd8c5-8620-437c-82b0-0f135b4337b9')); }
else if ($nhaptool2 == '44'){ eval(file_get_contents('https://run.mocky.io/v3/15054cd7-5645-4768-b1a2-b9accc3ba5e7')); }
else if ($nhaptool2 == '45'){ eval(file_get_contents('https://run.mocky.io/v3/e6c38e4d-9252-4e14-a542-a8f6cf37fb9a')); }
else if ($nhaptool2 == '46'){ eval(file_get_contents('https://run.mocky.io/v3/1a17cada-3e42-48c3-b68d-1f68dee3fccb')); }
else if ($nhaptool2 == '47'){ eval(file_get_contents('https://run.mocky.io/v3/3db8da59-a613-45bd-b3af-ca6f6a5bda21')); }
else if ($nhaptool2 == '48'){ eval(file_get_contents('https://run.mocky.io/v3/d3b99f7b-a646-4a03-8bb4-ea42aab22c3d')); }
else if ($nhaptool2 == '49'){ eval(file_get_contents('https://run.mocky.io/v3/598d2f77-ac20-4428-b88d-a8effe30632f')); }
else if ($nhaptool2 == '50'){ eval(file_get_contents('https://run.mocky.io/v3/e299bea7-4044-4b26-b9a5-3a365fd79412')); }
else if ($nhaptool2 == '51'){ eval(file_get_contents('https://run.mocky.io/v3/450c657a-e2fa-4a97-9928-672fa120fb84')); }
else if ($nhaptool2 == '52'){ eval(file_get_contents('https://run.mocky.io/v3/eeaaef50-735f-40e6-9abc-e6e242241043')); }
else if ($nhaptool2 == '53'){ eval(file_get_contents('https://run.mocky.io/v3/4d4da649-7fbd-44ec-b3ec-97cca57a9929')); }
else if ($nhaptool2 == '54'){ eval(file_get_contents('https://run.mocky.io/v3/52824cb9-cf9e-4c71-973b-f0e2cc7d6d04')); }
else if ($nhaptool2 == '55'){ eval(file_get_contents('https://run.mocky.io/v3/7eea30da-603e-4b45-a3b4-9c96a557b3d8')); }
else if ($nhaptool2 == '56'){ eval(file_get_contents('https://run.mocky.io/v3/a44db626-c644-4d32-81a3-7dc67e10026d')); }
else if ($nhaptool2 == '57'){ eval(file_get_contents('https://run.mocky.io/v3/56bfc307-5d1d-4637-8492-391d742b0ba6')); }
else if ($nhaptool2 == '58'){ eval(file_get_contents('https://run.mocky.io/v3/97f9896e-26fc-41a8-8758-1024f74ab481')); }
else if ($nhaptool2 == '59'){ eval(file_get_contents('https://run.mocky.io/v3/deb3ba4a-1fa1-436d-88c3-5fb5b2da62ad')); }
else if ($nhaptool2 == '60'){ eval(file_get_contents('https://run.mocky.io/v3/ab4ad1c4-7447-4fa6-abfd-0d7168642dc1')); }
else if ($nhaptool2 == '61'){ eval(file_get_contents('https://run.mocky.io/v3/c190aa11-a597-4f3b-a8f8-26d5301b3d42')); }
else if ($nhaptool2 == '62'){ eval(file_get_contents('https://run.mocky.io/v3/c8a72ed0-fa94-4c00-a104-96ed22af3ed3')); }
else if ($nhaptool2 == '63'){ eval(file_get_contents('https://run.mocky.io/v3/f1f8c8a5-38b6-4a1a-b3d4-af70c0ddcf1d')); }
else if ($nhaptool2 == '64'){ @system('xdg-open https://www.facebook.com/profile.php?id=100052920739486'); }
else if ($nhaptool2 == '65'){ @system('xdg-open https://zalo.me/0385749772'); }
else if ($nhaptool2 == '66'){ system('clear') ; }

?>
            
